body{
  margin: 0px;
}
.header{
  background-color: black ;
  font-size: 30px;
  color: white;
 
}
.list{
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding-top: 20px;
  padding-bottom:20px ;
}
.header-icons{
  margin-left: 940px;
  margin-right: -890px;
}